.carousel_section {
  border-bottom: 2px solid #c4c4c4;
  border-radius: 5px;
  border-top: 2px solid #c4c4c4;
  display: flex;
  height: 225px;
  margin-bottom: 30px;
  overflow-x: auto;
  width: 100%;
}

.carousel_imgs {
  height: 80%;
  width: 50vw;
}

.detail-card-container {
  display: flex;
  flex-direction: column;
}

.detail-card-img {
  align-self: center;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  display: flex;
}

h2 {
  align-self: center;
}

.h4-carousel {
  display: flex;
  justify-content: center;
}
