.footer_container {
  background-color: #c4c4c4;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  max-width: 100%;
  position: fixed;
  width: 100vw;
}

.footer_icons {
  padding: 11px;
}
