.header-container {
  top: 0;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  max-width: 100%;
  position: fixed;
  width: 100vw;
}

.footer_icons {
  padding: 11px;
}
