@media only screen and ( max-width : 360px ) {

  .header-container {
    display: flex;
    width: 90vw;
  }

  .card-img {
    width: 100px;
  }

  button {
    font-size: 3.3vw;
    height: 40px;
  }

}
